@import "../import";

.article-section-content {
  overflow-wrap: break-word;
  line-height: 1.9;

  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }

  p,
  ul,
  ol {
    margin: 0.75em 0;
  }

  ul,
  ol {
    ul,
    ol {
      margin: 0;
    }
  }

  ul {
    padding-left: 1.7em;
    list-style-type: disc;
  }

  ol {
    padding-left: 1.7em;
    list-style-type: decimal;
  }

  .align-center {
    text-align: center;
  }
}
