@import "../import";

.board-card {
  @include bp($bp-m-min) {
    position: sticky;
    top: $inner-margin;
  }

  &__inner {
    padding: 1.5em 1em;

    @include bp($bp-m-min) {
      padding: 2em 1.25em;
    }
  }

  &__title {
    position: relative;
    margin-bottom: 0;
    padding-left: 1.7em;
    overflow-wrap: break-word;
    text-align: left;
    font-size: 1.05em;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 21px;
      height: 21px;
      content: "";
      background-image: url(../../assets/icons/board.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      vertical-align: middle;
    }
  }

  &__meta {
    position: relative;
    margin: 1.5em 0;
    text-align: right;
  }

  &__date {
    font-size: 0.85em;
    color: $color-storm-dust;

    &::before {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 0.4em;
      content: "";
      background-image: url(../../assets/icons/pen.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      vertical-align: middle;
    }
  }

  &__action-area {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__toggle {
    width: 1.25em;
    height: 1.25em;
    cursor: pointer;
  }

  &__actions {
    @include shadow;

    z-index: 80;
    position: absolute;
    bottom: 1.6em;
    left: 0;
    width: 4em;
    margin: 0;
    padding: 0;
    text-align: center;

    > li {
      padding: 0.5em 0;
      cursor: pointer;
      font-size: 0.85em;

      &:not(:first-child) {
        border-top: 1px dotted $color-quill-gray;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
