@import "../import";

.board-form {
  &__field {
    position: relative;
    display: block;
    margin-top: 2.5em;
  }

  &__field-label {
    display: block;
    margin-bottom: 0.75em;
    font-weight: bold;

    &::after {
      display: inline-block;
      margin-left: 0.25em;
      content: "*";
      color: $color-chestnut;
    }
  }

  &__field-help {
    margin: 0.25em 0 0;
    font-size: 0.9em;
    text-align: right;
  }

  &__field-invalid {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10em;
    margin: 0;
    font-size: 0.9em;
    color: $color-chestnut;
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
    > button:not(:first-child) {
      margin-left: 1.5em;
    }
  }
}
