@import "../import";

.board-form {
  &__field {
    position: relative;
    display: block;
    margin-top: 1.75em;
  }

  &__field-label-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    > button {
      width: 13em;
      margin-bottom: 0.6em;
      padding: 0.5em 0;
      font-size: 0.825em;
      font-weight: normal;
    }
  }

  &__field-label {
    display: block;
    margin-bottom: 0.75em;
    font-weight: bold;

    &::after {
      display: inline-block;
      margin-left: 0.25em;
      content: "*";
      color: $color-chestnut;
    }
  }

  &__field-value {
    &.is-hidden {
      display: none;
    }
  }

  &__field-preview {
    @include shadow();

    height: 400px;
    padding: 0.75em 1em;
    overflow-wrap: break-word;
    overflow-y: auto;
    font-size: 0.925em;
    line-height: 1.7;

    &.is-invalid {
      border-color: $color-chestnut;
    }
  }

  &__field-help {
    margin: 0.25em 0 0;
    font-size: 0.9em;
    text-align: right;
  }

  &__field-invalid {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10em;
    margin: 0;
    font-size: 0.9em;
    color: $color-chestnut;
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: 1.75em;
    > button:not(:first-child) {
      margin-left: 1.5em;
    }
  }
}
