@import "../import";

.comment-item {
  @include shadow;

  width: 100%;
  padding: 0.75em;
  margin-bottom: 1.5em;

  &:last-child {
    margin-bottom: 0;
  }

  &__date {
    display: block;
    margin-top: 0.75em;
    text-align: right;
    font-size: 0.8em;
    color: $color-storm-dust;

    &::before {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-right: 0.3em;
      content: "";
      background-image: url(../../assets/icons/pen.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      vertical-align: middle;
    }
  }
}
