@import "../import";

.comment-list {
  width: 100%;
  margin-top: 1.5em;

  &__content {
    margin-top: 1.5em;
  }

  &__not-found {
    margin: 0;
    text-align: center;

    > img {
      display: block;
      width: 14em;
      margin: 0 auto 1.5em;
    }
  }

  &__more {
    margin-top: 1em;
    text-align: center;
  }
}
