@import "../import";

.comment-item {
  @include shadow;

  position: relative;
  width: 100%;
  padding: 1em;
  margin-bottom: 1.5em;

  &:last-child {
    margin-bottom: 0;
  }

  &__date {
    display: block;
    margin-top: 1em;
    text-align: right;
    font-size: 0.8em;
    color: $color-storm-dust;

    &::before {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-right: 0.3em;
      content: "";
      background-image: url(../../assets/icons/pen.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      vertical-align: middle;
    }
  }

  &__action-area {
    position: absolute;
    bottom: 0.9em;
    left: 1em;
  }

  &__toggle {
    width: 1.125em;
    height: 1.125em;
    cursor: pointer;
  }

  &__actions {
    @include shadow;

    z-index: 80;
    position: absolute;
    bottom: 1.3em;
    left: 0;
    width: 4em;
    margin: 0;
    padding: 0;
    text-align: center;

    > li {
      padding: 0.5em 0;
      cursor: pointer;
      font-size: 0.85em;

      &:not(:first-child) {
        border-top: 1px dotted $color-quill-gray;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
