@import "../import";

.confirm {
  text-align: center;

  &__message {
    margin: 0 0 1.5em;
  }

  &__actions {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    @include bp($bp-s-min) {
      flex-direction: row;
    }
  }

  &__button {
    @include bp($bp-xs-max, false) {
      width: 100%;
    }
    @include bp($bp-s-min) {
      min-width: 130px;
    }
  }
  &__button--cancel {
    @include bp($bp-xs-max, false) {
      margin-top: 0.75em;
    }
  }
  &__button--ok {
    @include bp($bp-s-min) {
      margin-left: 1.5em;
    }
  }
}
