@import "../import";

.loading {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  background-image: url(../../assets/loading.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 165px auto;

  &.is-visible {
    display: flex;
  }

  &::after {
    display: block;
    content: "ただいま処理中...";
    margin-top: 10em;
  }
}
