// フォント
$font-size: 15px;
$font-size-small: 14px;
$font-family: "M PLUS Rounded 1c", "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;

// 色
$color-white: #fffffd;
$color-gray: #f8f8f6;
$color-quill-gray: #dbdbd9;
$color-fuscous-gray: #444440;
$color-fountain-blue: #5599bb;
$color-fountain-blue-darker: #4488aa;
$color-chestnut: #bb5555;

// ブレイクポイント
$bp-xs-max: 539px;
$bp-s-min: 540px;
$bp-s-max: 767px;
$bp-m-min: 768px;
$bp-m-max: 991px;
$bp-l-min: 992px;
$bp-l-max: 1311px;
$bp-xl-min: 1312px;

// その他
$box-border-radius: 8px;
$inner-margin: 12px;
