@import "../import";

.header {
  position:relative;
  height: 4.5em;
  background-color: $color-white;
  box-shadow: 0 3px 6px -2px $color-quill-gray;

  &__inner {
    @include inner;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__logo {
    width: 10.5em;
    margin: 0;
    font-size: 1em;
  }
}
