@import "../import";

.navigation {
  &__actions {
    margin: 0;
    padding: 0;

    @include bp($bp-m-min) {
      display: flex;
      align-items: center;
    }
  }

  &__action {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
