@import "../import";

.navigation {
  &__actions {
    margin: 0;
    padding: 0;

    @include bp($bp-m-min) {
      display: flex;
      align-items: center;
    }
  }

  &__action {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    padding: 0.5em 0.75em;
    border-radius: 0.5em;
    color: $color-white;
    box-shadow: 0 3px 6px -2px $color-quill-gray;
    background-color: $color-fountain-blue;

    &:hover {
      box-shadow: 0 0 2px -1px $color-quill-gray;
      background-color: $color-fountain-blue-darker;
    }
  }
}
