@import "../import";

.scroll-to-top {
  z-index: 90;
  position: fixed;
  right: 0;
  bottom: 7em;
  display: block;
  width: 3.25em;
  height: 3.25em;
  padding: 0;
  opacity: 0.8;
  border-radius: 0.5em 0 0 0.5em;

  @include bp($bp-m-min) {
    right: 1em;
    bottom: 1em;
    border-radius: 0.5em;
  }

  &:hover {
    opacity: 1;
  }

  &.is-hidden {
    display: none;
  }
}
