@import "../import";

.page-front {
  &__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    @include bp($bp-m-min) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__summary {
    @include bp($bp-s-max, false) {
      margin-top: 2.5em;
    }

    > p {
      margin: 0;

      & + p {
        margin-top: 1.5em;
      }
    }
  }

  &__key-visual {
    width: 16em;

    @include bp($bp-m-min) {
      margin-left: 1.5em;
    }
    @include bp($bp-l-min) {
      width: 17em;
      margin-left: 3.5em;
    }
  }

  &__signin-wrapper {
    margin-top: 2em;
    text-align: center;
  }

  &__signin-button {
    font-weight: bold;

    > img {
      width: 1.5em;
      margin-right: 0.75em;
    }
  }
}

.page-front__section {
  padding: 2.25em;
  border-radius: 0.5em;
  box-shadow: 0 3px 6px -4px $color-quill-gray;
  background-color: $color-gray;

  & + & {
    margin-top: 3.5em;
  }
}
