@import "../import";

.page-front {
  &__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    @include bp($bp-m-min) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__summary {
    @include bp($bp-s-max, false) {
      margin-top: 2.5em;
    }

    > p {
      margin: 0;

      & + p {
        margin-top: 1.5em;
      }
    }
  }

  &__key-visual {
    width: 16em;

    @include bp($bp-m-min) {
      margin-left: 1.5em;
    }
    @include bp($bp-l-min) {
      width: 17em;
      margin-left: 3.5em;
    }
  }

  &__signin-wrapper {
    margin-top: 2em;
    text-align: center;
  }

  &__signin-button > img {
    width: 1.5em;
    margin-right: 0.75em;
  }

  &__feature {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include bp($bp-s-min) {
      flex-direction: row;
      margin-left: 1.5em;
    }

    &:not(:first-child) {
      margin-top: 1.75em;
    }
  }
  &__feature-icon {
    flex-grow: 0;
    flex-shrink: 0;
    width: 4.75em;
    height: 4.75em;
    border-radius: 50%;
    background-color: $color-fuscous-gray;
    text-align: center;
    line-height: 4.75em;

    > img {
      width: 55%;
    }

    @include bp($bp-s-min) {
      margin-right: 1.5em;
    }
  }
  &__feature-description {
    flex: 1 1 auto;

    > p {
      margin: 0.5em 0 0;
    }

    @include bp($bp-xs-max, false) {
      margin-top: 0.75em;
      text-align: center;
    }
  }
  &__feature-label {
    display: inline-block;
    font-size: 1.15em;
    font-weight: bold;
  }
}
